<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="UTF-8"></meta>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-datetimepicker.min.css}" media="screen"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/contacts.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/pace-theme-barber-shop.css}"/>
  <script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{js/pace.js}"></script>
  
 
</head>
<body>
<div>
	<ul class="topnav">
			<li><a id="title" href="/contacts" th:text="#{app.title}">Contacts</a></li>
			<li><span id="topinfo-first" th:text="#{today.is}">Today is </span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.dayOfWeekName(currentZonedDateTime)}">Thursday</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.format(currentZonedDateTime, 'dd.MM.yyyy')}">25.05.2018</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.format(currentZonedDateTime, 'HH:mm')}">Thursday</span></li>
			<li><span id="topinfo-zone" th:text="#{zone}">Zone</span></li>
			<li><span id="lastloggeddate" th:text="${currentZone}">London</span></li>
			<li class="right">
			    <form action="logout" th:action="@{/logout}" method="post" >
			        <input type="submit" id="logmeout" th:value="#{logmeout}" />
			    </form>
			</li>						
			<li class="right"><a id="flags" href="/contacts?lang=ru"><img src="/images/flag_ru128px.png" class="langimg"></img></a></li>
			<li class="right"><a id="flags" href="/contacts?lang=es"><img src="/images/flag_es128px.png" class="langimg"></img></a></li>
			<li class="right"><a id="flags" href="/contacts?lang=pl"><img src="/images/flag_pl128px.png" class="langimg"></img></a></li>
			<li class="right"><a id="flags" href="/contacts?lang=en"><img src="/images/flag_uk128px.png" class="langimg"></img></a></li>
	</ul>
</div>
<div>
	<ul class="topinfo">
			<li><span id="loggedinastext" th:text="#{loggedinas}">You are logged in as: </span></li>
			<li><span id="loggedinasemail" th:text="${currentUser.email}">demo@demo.com</span></li>
			<li><span id="loggedinastext" th:text="#{privileges}">privileges</span></li>
			<li>
			<div sec:authorize="hasRole('ROLE_USER')">
				<span id="loggedinasemail" th:text="#{role.user}">-user-</span>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<span id="loggedinasemail" th:text="#{role.admin}">-admin-</span>
			</div>
			</li>
			<li><span id="lastloggedtext" th:text="#{account.created}">account created</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.dayOfWeekName(currentUser.registered)}">Thursday</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.format(currentUser.registered, 'dd.MM.yyyy')}">25.05.2018</span></li>		
			<li class="right"><span id="lastloggeddate" th:if="${currentUserContacts != null}" th:text="${contactsTotalByUser}">35</span></li>
			<li class="right"><span id="lastloggedtext" th:text="#{number.of.contacts.total}">total</span></li>
			<li class="right"><span id="lastloggeddate" th:if="${contactWrapper.resultList.size() != 0}" th:text="${contactWrapper.resultList.size()}">5</span></li>
			<li class="right"><span id="lastloggedtext" th:text="#{number.of.contacts.loaded}">loaded</span></li>
	</ul>
</div>
<div class="box-contacts">
<div class="container" id="container-left">
  <ul class="nav nav-tabs" id="tabs-head">
    <li><a id="tab-link" th:href="@{/contacts}" th:text="#{contacts}">Contacts</a></li>
    <li><a id="tab-link" data-toggle="tab" href="#admin" th:text="#{admin.panel}">Admin Panel</a></li>
  </ul>
  
<div class="container-list"> 
  <div class="tab-content" >
    
<div id="admin" class="tab-pane fade in active">

	 <div sec:authorize="hasRole('ROLE_USER')">
		<br /><br /><br /><br />
		<h3 style="text-align: center;" id="info" th:text="#{logged.as.user}">logged.as.user</h3>
		<h5 style="text-align: center;" id="info" th:text="#{logged.as.user2}">log in as Admin</h5>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	
		<div >
			<span style="color: white; padding:0px 20px; font-size: 16px; display:inline-block; float:left;" th:text="#{welcome}"> welcome</span>
			<div style="color: white; padding:0px 20px; font-size: 16px; display:inline-block; float:left;" sec:authentication="name"></div>
			<span style="color: white; padding:0px 16px; font-size: 16px; display:inline-block; float:left;" th:text="#{logged.as.admin}"></span>
		</div>
		<br />
		<div class="container-admin">
		<!-- 	<div th:unless="${#lists.isEmpty(users)}">  -->		
				 <table class="table table-striped table-condensed" style="background-color: rgb(0, 0, 0, 0.1)">
				    <thead id="table-head-admin">
				      <tr>
				         <td th:text="#{user.id}">id</td>
				        <td th:text="#{user.firstName}">First Name</td>
				        <td th:text="#{user.lastName}">Last Name</td>
				        <td th:text="#{user.email.username}">email/username</td>
				        <td th:text="#{user.password}">password</td>
				        <td th:text="#{user.enabled}">enabled</td>
				        <td th:text="#{user.registered}">registered</td>
				        <td th:text="#{user.contacts}">contacts</td>
				      </tr>
				    </thead>
				    <tbody th:each="user : ${users}" style="background-color: rgb(0, 0, 0, 0.1)">
				      <tr>
				        <td id="table-user" th:text="${user.id}">1</td>
				        <td id="table-user" th:text="${user.firstName}">Anna</td>
				        <td id="table-user" th:text="${user.lastName}">Pitt</td>
				        <td id="table-user" th:text="${user.email}">anna@gmail.com</td>
				        <td id="table-user">*******</td>
				        <td id="table-user">
				        <span th:if="${user.enabled}" th:text="#{yes}">enabled</span>
				        <span th:unless="${user.enabled}" th:text="#{no}"></span>
				        </td>
				        <td id="table-user" th:text="${#temporals.format(user.registered, 'dd.MM.yyyy')}">date registered</td>
				        <td id="table-user" th:text="${#lists.size(user.contacts)}">124</td>
				        
				      </tr>
				      <tr style="margin-bottom:5px;">
				      	<td id="table-user">----</td>
				      	<td id="table-user">----</td>
				      	<td id="table-user">----</td>
				      	<td id="table-user">----</td>
				      	<td id="table-user">
				      		<form action="#" th:action="@{/userPasswordReset}" method="post" role="form" th:object="${user}">
			                  <input type="hidden" th:value="*{id}" name="id"/>
			                  <button class="btn btn-sm" id="edit-btn" type="submit" th:text="#{reset.password}">- Edit- </button>
							</form>
				      	</td>
				      	<td id="table-user">
				      		<form action="#" th:action="@{/userEnable}" method="post" role="form" th:object="${user}">
			                  <input type="hidden" th:value="*{id}" name="id"/>
			                  <button class="btn btn-sm" id="edit-btn" type="submit" th:text="#{enable.disable}">- Edit- </button>
						  	</form>
				      	</td>
				      	<td id="table-user">
				      		<form action="#" th:action="@{/userSendConfirmation}" method="post" role="form" th:object="${user}">
			                  <input type="hidden" th:value="*{id}" name="id"/>
			                  <button class="btn btn-sm" id="edit-btn" type="submit" th:text="#{send.confirmation.link}">- send confirmation link- </button>
						  	</form>
				      	</td>
				      	<td id="table-user">----</td>
				      </tr>
				      
				    </tbody>
				  </table>
			    </div>	
			 </div>
		</div>
<div>
	
	<p id="error-small" th:if="${confirmationMessage != null}" th:text="#{confirmation.sent} + ${user.email}">reset.link.sent</p>
	<p id="error-small" th:if="${reset != null}" th:text="#{user.reset.link.sent}">reset.link.sent</p>
	<p id="error-small" th:if="${incorrect != null}" th:text="#{email.not.found}">email.not.found</p>
	<p id="error-small" th:if="${emailerror != null}" th:text="#{email.sending.error}">Email error/failed</p>
	

</div>
	<!-- </div> -->

     
</div>
</div> 
</div>
</div>
<div class="box-info">


</div>
<div class="box-action">
		
	
</div>	

		 
</body>
</html>
