<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/contacts.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
 
</head>
<body>

	<ul class="topnav">
			<li><a id="title" href="/contacts" th:text="#{app.title}">Contacts</a></li>
		
			<li class="right"><a href="/contacts?lang=ru"><img src="/images/flag_ru128px.png" class="langimg"></img></a></li>
			<li class="right"><a href="/contacts?lang=es"><img src="/images/flag_es128px.png" class="langimg"></img></a></li>
			<li class="right"><a href="/contacts?lang=pl"><img src="/images/flag_pl128px.png" class="langimg"></img></a></li>
			<li class="right"><a href="/contacts?lang=en"><img src="/images/flag_uk128px.png" class="langimg"></img></a></li>
	</ul>
<div>
 
	<p id="container-info" th:text="#{registation.success}">Thanks for signing up.</p>
	<div id="container-info-small">
		<span th:text="#{registation.confirmation.email}">A confirmation e-mail has been sent to </span>
		<span th:text="${user.getEmail()}">user@domain.com</span>
	</div>
	<a th:href="@{/}"><button class="btn" id="reigstration-success-login" th:text="#{back.to.home}">Homepage</button></a>
   	
</div>
</body>
<!--
/**Copyright (C) 2018  Piotr Czapik.
 * @author Piotr Czapik
 * @version 0.9
 *
 *  This file is part of Contact List.
 *  Contact List is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Contact List is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Contact List.  If not, see <http://www.gnu.org/licenses/>
 *  or write to: latidude99@gmail.com
 */
-->
</html>

		
