<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

</head>
<body>


<div class="bgimg">

    <div class="lang">
        <a th:href="@{/?lang=en}"><img src="/images/flag_uk128px.png" class="langimg"></img></a>
        <a th:href="@{/?lang=pl}"><img src="/images/flag_pl128px.png" class="langimg"></img></a>
        <a th:href="@{/?lang=es}"><img src="/images/flag_es128px.png" class="langimg"></img></a>
        <a th:href="@{/?lang=ru}"><img src="/images/flag_ru128px.png" class="langimg"></img></a>
    </div>

    <div class="container-login">
        <h3 id="header" th:text="#{password.reset}">Pswd Reset</h3>

        <form action="#" th:action="@{/reset}" method="post" th:object="${user}">

            <label for="password" th:text="#{password}"><b>Password*</b></label><span>&nbsp; &nbsp; &nbsp;</span>
            <span style="color:red !important" th:errors="*{password}">password errors</span>
            <input th:field="*{password}" type="password" th:placeholder="#{enter.password}" id="password"/>

            <label for="password" th:text="#{password.repeat}"><b>Repeat
                Password*</b></label><span>&nbsp; &nbsp; &nbsp;</span>
            <span style="color:red !important" th:errors="*{password}">password errors</span>
            <input type="password" th:placeholder="#{enter.password}" id="confirm_password"/>

            <input type="hidden" name="id" th:value="*{id}"/>

            <button type="submit" th:text="#{reset}">Login</button>

        </form>
        <a th:href="@{/}">
            <button id="button-centre" th:text="#{back.to.home}">Homepage</button>
        </a>
    </div>

</div>
<script type="text/javascript" th:src="@{js/login.js}"></script>
</body>
<!--
/**Copyright (C) 2018  Piotr Czapik.
 * @author Piotr Czapik
 * @version 0.9
 *
 *  This file is part of Contact List.
 *  Contact List is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Contact List is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Contact List.  If not, see <http://www.gnu.org/licenses/>
 *  or write to: latidude99@gmail.com
 */
-->
</html>
  