<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/contacts.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
 
</head>
<body>
<div>
	<ul class="topnav">
			<li><a id="title" href="/contacts" th:text="#{app.title}">Contacts</a></li>
			<li><span id="topinfo-first" th:text="#{today.is}">Today is </span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.dayOfWeekName(currentZonedDateTime)}">Thursday</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.format(currentZonedDateTime, 'dd.MM.yyyy')}">25.05.2018</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.format(currentZonedDateTime, 'HH:mm')}">Thursday</span></li>
			<li><span id="topinfo-zone" th:text="#{zone}">Zone</span></li>
			<li><span id="lastloggeddate" th:text="${currentZone}">London</span></li>
			<li class="right">
			    <form action="logout" th:action="@{/logout}" method="post" >
			        <input type="submit" id="logmeout" th:value="#{logmeout}" />
			    </form>
			</li>						
			<li class="right"><a id="flags" href="/contacts?lang=ru"><img src="/images/flag_ru128px.png" class="langimg"></img></a></li>
			<li class="right"><a id="flags" href="/contacts?lang=es"><img src="/images/flag_es128px.png" class="langimg"></img></a></li>
			<li class="right"><a id="flags" href="/contacts?lang=pl"><img src="/images/flag_pl128px.png" class="langimg"></img></a></li>
			<li class="right"><a id="flags" href="/contacts?lang=en"><img src="/images/flag_uk128px.png" class="langimg"></img></a></li>
	</ul>
</div>
<div>
	<ul class="topinfo">
			<li><span id="loggedinastext" th:text="#{loggedinas}">You are logged in as: </span></li>
			<li><span id="loggedinasemail" th:text="${currentUser.email}">demo@demo.com</span></li>
			<li><span id="loggedinastext" th:text="#{privileges}">privileges</span></li>
			<li>
			<div sec:authorize="hasRole('ROLE_USER')">
				<span id="loggedinasemail" th:text="#{role.user}">-user-</span>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<span id="loggedinasemail" th:text="#{role.admin}">-admin-</span>
			</div>
			</li>
			<li><span id="lastloggedtext" th:text="#{account.created}">account created</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.dayOfWeekName(currentUser.registered)}">Thursday</span></li>
			<li><span id="lastloggeddate" th:text="${#temporals.format(currentUser.registered, 'dd.MM.yyyy')}">25.05.2018</span></li>		
			<li class="right"><span id="lastloggeddate" th:if="${currentUserContacts != null}" th:text="${contactsTotalByUser}">35</span></li>
			<li class="right"><span id="lastloggedtext" th:text="#{number.of.contacts.total}">total</span></li>
			<li class="right"><span id="lastloggeddate" th:if="${contactWrapper.resultList.size() != 0}" th:text="${contactWrapper.resultList.size()}">5</span></li>
			<li class="right"><span id="lastloggedtext" th:text="#{number.of.contacts.loaded}">loaded</span></li>
	</ul>
</div>
<div class="box-contacts">
<div class="container" id="container-left">
  <ul class="nav nav-tabs" id="tabs-head">
    <li><a id="tab-link" th:href="@{/contacts}" th:text="#{contacts}">Contacts</a></li>
    <li><a id="tab-link" data-toggle="tab" href="#edit" th:text="#{edit.details}">Edit my details</a></li>
    
  </ul>
 <div class="container-list">
  <div class="tab-content" >
    
    <div id="edit" class="tab-pane fade in active">
    
     <form action="#" method="post" th:action="@{/updateDetails}" th:object="${currentUser}">
	    	
	  <!-- 	<input type="hidden" th:value="*{id}" name="id"/> -->  
	  		
	  		<h4 style="color: white; padding: 5px 10px 5px 20px;" th:text="#{username.change.warning}">Username change warning</h4><br /><br />
	    	
		    <p class="in-block" th:text="#{first.name}"><b>First Name</b></p>
		    <input class="input-block" type="text" th:field="*{firstName}" th:placeholder="#{enter.first.name}" />
		    <p class="error-block" th:errors="*{firstName}">LastName errors</p><br/>
		    
		    <p class="in-block" th:text="#{last.name}"><b>Last Name</b></p>
		    <input class="input-block" type="text" th:field="*{lastName}" th:placeholder="#{enter.last.name}" />
		    <p class="error-block" th:errors="*{lastName}">Last Name errors</p><br/>
		    
		    <p class="in-block" th:text="#{email}"><b>Email*</b></p>
		    <input class="input-block" type="text" th:field="*{email}" th:placeholder="#{enter.email}" />
		    <p class="error-block" th:if="${notAvailable}" th:text="#{not.available}">Not Available</p>
		    <p class="error-block" th:errors="*{email}">email errors</p><br/>
		    
		    <p class="in-block" th:text="#{passwd}"><b>Password*</b></p>
		    <input class="input-block" th:field="*{password}" type="password" th:placeholder="#{mininum.6.characters}" id="password"/>
		    <p class="error-block" th:errors="*{password}">password errors</p><br/>
			
		    <p class="in-block" th:text="#{password.repeat}"><b>Repeat Password*</b></p>
		    <input class="input-block" type="password" th:placeholder="#{enter.password}" id="confirm_password"/>
		    <p class="error-block" th:errors="*{password}">password errors</p><br/>
		   		    
		    <button type="submit" class="btn btn-default btn-block" id="add-btn" th:text="#{update.details}">Sign up</button>
		    
		</form>
	</div>
  </div>
     <div id="admin" class="tab-pane fade">
      <h3>Admin Panel</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
 </div> 
</div>
<div class="box-action">


</div>
<script type="text/javascript" th:src="@{js/login.js}"></script>
</body>
</html>
